# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build output
.next/
out/

# Prisma
prisma/*.db
prisma/migrations/

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Local IDE settings
.vscode/
.idea/
*.swp

# Next.js
.next/cache/
.next/static/

#changed location of prisma generated output files
lib/generated/prisma/
